<html>
<head>
<title>Registration</title>
<title>	First flask app </title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
</script>
<style>
	body,html {
    background-image: url('https://i.imgur.com/xhiRfL6.jpg');
    height: 100%;
}

#profile-img {
    height:180px;
}
.h-80 {
    height: 30% !important;
}
</style>
</head>
<body>
<div class="container h-80">
	<div class="row align-items-center h-100">
		<div class="col-4 mx-auto">
			<div class="text-center">
				<img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
				<p id="profile-name" class="profile-name-card"></p>
				<form  action="/register" method="POST" class="form-signin" onsubmit="return validate()">
					<input  type="email" name="email" id="inputPassword" class="form-control form-group" placeholder="Email" required autofocus>
                    <input type="password" name="password" id="password" class="form-control form-group" placeholder="Password" required autofocus>
                    <input type="password" name="cpassword" id="password" class="form-control form-group" placeholder="Confirm Password" required autofocus>
                    <input type="text" name="firstName" id="inputPassword" class="form-control form-group" placeholder="FIRST NAME" required autofocus>
                    <input type="text" name="lastName" id="inputPassword" class="form-control form-group" placeholder="LAST NAME" required autofocus>
                    <input type="text" name="address1" id="inputPassword" class="form-control form-group" placeholder="ADDRESS1" required autofocus>
                    <input type="text" name="address2" id="inputPassword" class="form-control form-group" placeholder="ADDRESS2" required autofocus>
                    <input type="text" name="zipcode" id="inputPassword" class="form-control form-group" placeholder="zipcode" required autofocus>
                    <input type="text" name="city" id="inputPassword" class="form-control form-group" placeholder="city" required autofocus>
                    <input type="text" name="state" id="inputPassword" class="form-control form-group" placeholder="state" required autofocus>
                    <input type="text" name="country" id="inputPassword" class="form-control form-group" placeholder="country" required autofocus>
                    <input type="text" name="phone" id="inputPassword" class="form-control form-group" placeholder="phone" required autofocus>
                           
                    
                    
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"value="Register" >Register</button>
				</form>
				<a class="btn btn-lg btn-primary btn-block btn-signin" href="/loginForm">Login here</a>
			</div>
		</div>
	</div>
	</div>
</body>
</html>



